<!DOCTYPE html><html>
	<head>
		<meta charset="utf-8">
		<style>
			body{
				background: #f9f9fa;
				font-family: monospace;
				font-size: large;
			}
			a{
				font-size: xx-large;
			}
		</style>
		<title>Redirection</title>
	</head>
	<body>
		<a href="{{.}}">{{html .}}</a>
	</body>
</html>
